.addTaskForm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 35%;
  min-height: 54%;
  padding: 10px 40px;
  background-color: #dcdfec;
  border-radius: 8px;

  h1 {
    text-align: center;
    background-color: white;
    width: 100%;
    border-radius: 8px;
    padding: 5px;
  }

  .name, .date {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    width: 100%;
    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 5px;
      text-align: center;
      border-radius: 5px;
      border: 1px solid gray;
      font-size: 16px;
    }
    label {
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-start;
      h2 {
        line-height: 5px;
      }
    }
  }

  .buttonArea {
    h3{
      cursor: pointer;
      text-align: center;
    }
    button {
      width: 100%;
      padding: 10px;
      background-color: #9ab4b9;
      color: #242425;
      border: none;
      cursor: pointer;
      margin-top: 20px;
      border-radius: 8px;
      h2{
        line-height: 0;
      }



      &:hover {
        background-color: #779398;
      }
    }
  }
}
