.addTaskForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ffffff;
  padding:  40px 60px;
  border-radius: 8px;
  min-width: 30%;
  .field{
    display: flex;
    justify-content: start;
    gap:40px;
  }

  h2 {
    text-align: center;
  }

  label {
    margin-bottom: 5px;
  }

  input {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    justify-items: end;
  }

  .react-datepicker-wrapper {
    width: 100%;

  }

  button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;

    &:hover {
      background-color: #0056b3;
    }
  }
}
