.header {
  background-color: #dcdfec;
  color: black;
  padding: 10px;
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  a {
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 20px;

    img {
      width: 30px;
      height: 30px;
    }

    p {
      margin: 0;
      font-size: 24px;

      span {
        font-weight: bold;
      }
    }
  }
  .auth{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    h4{
      cursor: pointer;
    }
    .logInUp{
      display: flex;
      flex-direction: column;
      justify-content: center;

    }

  }
}


