.taskCard {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 90%;
  box-sizing: border-box;

}

.taskTitle {
  font-size: 24px;
  margin-bottom: 10px;
}

.taskInfo {
  display: flex;
  flex-direction: column;


  .infoItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;

    .infoLabel {
      font-weight: bold;
      color: #333;
    }

    .infoValue {
      color: #777;
    }
  }
}
.purple{
  background-color: rgb(248, 250, 216);

}
.green{
  background-color: rgb(224, 255, 219);
}
.orange{
  background-color: #ffe3cb;
}
