.App{
  display: flex;
  flex-direction: column;
  background-color: #dcdfec;
  min-height: 100vh;

  .main{
    flex-grow: 1;
    display: flex;
    gap: 10px;

    .entry{
      height: 60vh;
      align-self: center;
      margin: 0 auto;
      cursor: pointer;
      text-align: center;
    }
  }
}

